.jumbotron {
    max-width: 960px;
    margin: 20px auto;
}

.char-portrait {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 0 auto;
    border: 1px solid darkslategrey;
}

#opponent-stats {
    text-align: right;
}

button {
    margin: 0 auto;
}

div p {
    width: 200px;
    margin: 0 auto;
}

.text-center {
    margin: 20px auto 0 auto;
    padding: 0 auto;
}

.hidden {
    display: none;
}
